@use '../../scss/mixins' as mix;

.header {
  padding: 20px 0;
  background: #000;
  color: aliceblue;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    @include mix.base-link(rgb(175, 175, 241), rgb(193, 218, 240), rgb(193, 193, 247));

    font-size: 26px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }

  &__item {
  }

  &__link {
    @include mix.base-link(rgb(205, 218, 230), rgb(193, 218, 240));
  }
}
