.header {
  padding: 20px 0;
  background: #000;
  color: aliceblue;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    color: inherit;
    text-decoration: none;
    font-size: 26px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }

  &__item {
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: rgb(205, 218, 230);
    }

    &:active {
      color: rgb(193, 218, 240);
    }
  }
}
