.footer {
  padding: 20px 0;
  background: #000;
  color: aliceblue;

  &__container {
    display: flex;
    align-items: center;
  }

  &__form {
    display: inline-flex;
    border-radius: var(--rounded-md);
    overflow: hidden;
    margin-left: auto;
    box-shadow: 0 0 8px 1px var(--accent-color);

    input {
      padding: 8px;
      font-size: 16px;
      color: var(--main-color);
      border-top-left-radius: var(--rounded-md);
      border-bottom-left-radius: var(--rounded-md);
    }

    button {
      cursor: pointer;
      padding: 0 14px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      background: var(--accent-color);
    }
  }
}
