@use '../../../scss/mixins' as mix;

.form {
  &__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__inner {
    display: grid;
    gap: 8px;
  }

  &__inner-label {
    display: grid;
    gap: 5px;
  }

  &__inner-input {
    @include mix.field;
  }

  &__inner-textarea {
    @include mix.field(150px);
  }

  &__inner-btn {
    justify-self: end;
    max-width: 200px;
    width: 100%;

    @include mix.button;
  }
}
