.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100dvh;
  position: relative;
}

.header-wrap {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main {
  flex: 1;
  background: rgba(0, 0, 0, 0.05);
}
