.home {
  &__container {
  }

  &__title {
  }

  &__list {
  }

  &__item {
  }

  &__item-title {
  }

  &__item-at {
  }

  &__subtitle {
  }

  &__form {
  }

  &__form-input {
  }

  &__form-textarea {
  }

  &__form-btn {
  }
}
