@use '../../../scss/mixins' as mix;

.home {
  padding: 60px 0;

  &__container {
    display: grid;
    gap: 20px;
  }

  &__title {
    @include mix.title;
  }

  &__list {
  }

  &__item {
    display: grid;
    gap: 6px;
    padding: 10px 0;
    transition: background 0.2s linear;
    text-align: justify;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }

    & + & {
      border-top: 1px solid var(--second-color);
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
  }

  &__item-at {
    font-size: 14px;
    font-weight: 700;
    justify-self: end;
  }
}
