:root {
  --transition-time: 200ms;
  --main-color: #222;
  --second-color: #32004e;
  --white-color: #fff;
}

@mixin base-link($hover: blue, $active: violet, $color: inherit) {
  color: $color;
  text-decoration: none;
  transition: color var(--transition-time) linear;

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

@mixin title($color: var(--second-color)) {
  color: $color;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}
