.movies {
  --title-height-card: 80px;

  padding: 60px 0;

  &__head {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
  }

  &__form {
    display: inline-flex;
    margin-left: auto;
    border-radius: var(--rounded-md);
    overflow: hidden;
    margin-left: auto;
    box-shadow: 0 0 0px 1px var(--second-color);

    input {
      padding: 8px;
      font-size: 16px;
      color: var(--second-color);
      border-top-left-radius: var(--rounded-md);
      border-bottom-left-radius: var(--rounded-md);
    }

    button {
      cursor: pointer;
      padding: 0 14px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      color: var(--accent-color);
      background: var(--second-color);
    }
  }

  &__error {
    text-align: right;
    margin-top: 10px;
    color: var(--error-color);
  }

  &__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, 1fr);
    margin: 40px 0 0;
  }

  &__item {
    position: relative;

    &:hover {
      --title-height-card: 100%;
    }
  }

  &__item-img {
    height: 100%;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }

  &__item-title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: var(--white-color);
    padding: 10px 5px;
    background: rgb(0 0 0 / 0.6);
    min-height: var(--title-height-card);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.25s linear;
  }

  &__empty {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
  }
}
